<link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About AI House</h2>
              <br/>
                <p> Are you passionate about artificial intelligence? Do you want to be part of a community of like-minded individuals who are working on cutting-edge projects? If so, AI House LA is for you.</p>
                <p>The AI house is a place where people who are passionate about AI can come together to live, work, and play. We have all the amenities you need to be productive, including high-speed internet, a comfortable workspace, and a kitchen that is stocked with all the food and drinks you need. But we also know that work isn't everything, so we'll a games room, a movie room, and a rooftop deck where you can relax and have fun.</p>
                <p>So if you're looking for a place to call home while you're working on your AI projects, look no further than the hacker house!</p>
                <br/>
              </div>
        </div>

      </section>
